<div id="wrapper">
	<div class="navbar navbar-default custom-header" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a href="#!/home" class="navbar-brand"><img src="../images/logo.png" alt="logo"/></a>
			</div>
			
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="my-items.html">My Items </a></li>
					<li><a href="browse-list.html">Browse</a></li>
					<li><a href="#!/message-inbox/0">Messages</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li class="user-display">
						<a href="personal.html">
							<span class="user"><img src="../images/user-img.jpg" alt=""></span>
							<span class="caret"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="banner" class="front-banner">
		<figure style="background-image:url(../images/front-banner.jpg)" class="cover"></figure>
		<div class="banner-inside">
			<div class="container">
				<h1>My Items</h1>
				<div class="filter">
					<ul>
						<li><a href="#">All</a></li>
						<li><a href="#">Today</a></li>
						<li><a href="#">Search</a></li>
						<li><a href="#">Sort</a></li>
						<li class="quick-add">
							<form>
								<input type="text" class="input" placeholder="Type Here"><a href="#" data-toggle="modal" data-target="#creat-items-popup"><input type="submit" value="Quick Add" class="quick-btn"></a>
							</form>
						</li>
					</ul>
				</div>
				<!--filter-->
				<div class="feature-row">
					<div class="feature-slide-outside">
						<div class="feature-slide">
							<div class="item">
								<div class="feature-col">
									<img src="../images/home.jpg" class="img-responsive" alt=""/>
									<div class="col-inside">
										<div><h3>HOME</h3></div>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="feature-col">
									<img src="../images/work.jpg" class="img-responsive" alt=""/>
									<div class="col-inside">
										<div><h3>Work</h3></div>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="feature-col">
									<img src="../images/home.jpg" class="img-responsive" alt=""/>
									<div class="col-inside">
										<div><h3>business</h3></div>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="feature-col">
									<img src="../images/home.jpg" class="img-responsive" alt=""/>
									<div class="col-inside">
										<div><h3>HOME</h3></div>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="feature-col">
									<img src="../images/home.jpg" class="img-responsive" alt=""/>
									<div class="col-inside">
										<div><h3>work</h3></div>
									</div>
								</div>
							</div>
						</div>
						<!--feature-slide--> 
					</div>
					<!--feature-slide-outside-->
					<div class="feature-col">
						<img src="../images/add-item.jpg" class="img-responsive" alt=""/>
						<div class="col-inside">
							<div onclick="createPersonalItem()">
								<span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
								<p>Add Item</p>
							</div>
						</div>
					</div>
					<!--add-item--> 
				</div>
				<!--feature-row-->
			</div>
		</div>
	</div>
	<!--banner-->
  
	<div id="content" class="main-content">
		<div class="container">
			<div class="select-row">
				<div class="pull-left"><a href="#" class="select-all">Select All</a><a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a></div>
			</div>

			<div class="project-row">
				<a href="#" class="refress"><i class="fa fa-refresh" aria-hidden="true"></i></a>
				<div class="check"><input type="checkbox" id="check"><label for="check"></label></div>
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12"><a href="home-details.html">
						<img src="../images/project-img.jpg" class="img-responsive" alt=""></a>
					</div>
					
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="project-row-content">
							<div class="project-head">
								<h1>PROJECT MEETING wITH cLIENT</h1>
								<span class="date">19 June, 2018</span><span class="time">11:30am</span>
							</div>
			  				<!--project-head-->
			  				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<div class="project-footer">
								<div class="row">
									<div class="col-md-4 col-sm-3 col-xs-12">
										<p><strong>Address</strong></p>
										<p>1235 Bay Street, Toronto, Ontario, M5R 3K4</p>
									</div>

									<div class="col-md-2 col-sm-3 col-xs-3">
										<p>City</p>
										<p>Toronto,</p>
									</div>

									<div class="col-md-2 col-sm-3 col-xs-3">
										<p>Price</p>
										<p>$ 500</p>
									</div>

									<div class="col-md-2 col-sm-3 col-xs-3">
										<p>Time</p>
										<p>11:00 Am</p>
									</div>
								</div>
							</div>
							<!--project-footer--> 
			  
							<div class="pull-right row-icons">
								<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
							</div>
						</div>
						<!--project-row-content--> 
					</div>
				</div>
			</div>
			<!--project-row-->

			<div class="project-row">
				<div class="check"><input type="checkbox" id="check2"><label for="check2"></label></div>
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12"><a href="home-details.html"><img src="../images/project-img2.jpg" class="img-responsive" alt=""></a></div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="project-row-content">
							<div class="project-head">
								<h1>PROJECT MEETING wITH cLIENT</h1>
								<span class="date">19 June, 2018</span><span class="time">11:30am</span>
							</div>
							<!--project-head-->
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							
							<div class="project-footer">
								<div class="row">
									<div class="col-md-4 col-sm-3 col-xs-12">
										<p><strong>Address</strong></p>
										<p>1235 Bay Street, Toronto, Ontario, M5R 3K4</p>
									</div>
									
									<div class="col-md-2 col-sm-3 col-xs-3">
										<p>City</p>
										<p>Toronto,</p>
									</div>
									
									<div class="col-md-2 col-sm-3 col-xs-3">
										<p>Price</p>
										<p>$ 500</p>
									</div>
									
									<div class="col-md-2 col-sm-3 col-xs-3">
										<p>Time</p>
										<p>11:00 Am</p>
									</div>
								</div>
							</div>
							<!--project-footer--> 
							<div class="pull-right row-icons">
								<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
							</div>
						</div>
						<!--project-row-content--> 
					</div>
				</div>
			</div>
			<!--project-row-->

			<div class="project-row">
				<div class="check"><input type="checkbox" id="check3"><label for="check3"></label></div>
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12"><a href="home-details.html"><img src="../images/project-img.jpg" class="img-responsive" alt=""></a></div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="project-row-content">
							<div class="project-head">
								<h1>PROJECT MEETING wITH cLIENT</h1>
								<span class="date">19 June, 2018</span><span class="time">11:30am</span>
							</div>
							<!--project-head-->
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

							<div class="project-footer">
								<div class="row">
									<div class="col-md-4 col-sm-3 col-xs-12">
										<p><strong>Address</strong></p>
										<p>1235 Bay Street, Toronto, Ontario, M5R 3K4</p>
									</div>
									
									<div class="col-md-2 col-sm-3 col-xs-3">
										<p>City</p>
										<p>Toronto,</p>
									</div>
									
									<div class="col-md-2 col-sm-3 col-xs-3">
										<p>Price</p>
										<p>$ 500</p>
									</div>
									
									<div class="col-md-2 col-sm-3 col-xs-3">
										<p>Time</p>
										<p>11:00 Am</p>
									</div>
								</div>
							</div>
							<!--project-footer-->
							<div class="pull-right row-icons">
								<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
							</div>
						</div>
						<!--project-row-content--> 
					</div>
				</div>
			</div>
			<!--project-row--> 

			<div class="modal fade create-items-popup" id="create-items-free" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<div class="user"><img class="blah" src="../images/popup-user.png" alt=""></div>
							<span class="info-title">FREE</span> 
							<div class="row">
								<div class="col-md-12">
									<div class="add-image pull-right"><span>ADD IMAGE</span><input type="file" class="imgInp" /></div>
								</div>
							</div>
						</div>

						<div class="modal-body">
							<form>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Title">
								</div>

								<div class="form-group">
									<textarea class="form-control" placeholder="Body"></textarea>
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Priority">
								</div>

								<div class="form-group">
									<select class="form-control">
										<option>Date</option>
									</select>
								</div>

								<div class="form-group">
									<select class="form-control">
										<option>Time</option>
									</select>
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Address">
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="City">
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Province">
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Country">
								</div>

								<div class="form-group">
									<span class="share-title">Share on Showcase</span>
									<div class="share-radio">
										<input type="checkbox" id="radio">
										<label for="radio"></label>
									</div>
									<!--share-radio-->
									<div style="clear: both;"></div>
								</div>
								<button type="submit" class="custom-btn">Create</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal fade create-items-popup" id="professional" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<div class="user"><img class="blah" src="../images/popup-user.png" alt=""></div>
							<span class="info-title">professional</span>
							<div class="row">
								<div class="col-md-12">
									<div class="add-image pull-right"><span>ADD IMAGE</span><input type="file" class="imgInp" /></div>
								</div>
							</div>
						</div>
						
						<div class="modal-body">
							<form>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Title">
								</div>

								<div class="form-group">
									<textarea class="form-control" placeholder="Body"></textarea>
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Priority">
								</div>

								<div class="form-group">
									<select class="form-control">
										<option>Date</option>
									</select>
								</div>

								<div class="form-group">
									<select class="form-control">
										<option>Time</option>
									</select>
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Address">
								</div>
							
								<ul class="pop-tab">
									<li class="active"><a href="#specs">Specs</a></li>
									<li><a href="#location2">Location </a></li>
									<li><a href="#price">Price </a></li>
									<li><a href="#for">For </a></li>
								</ul>
								<!--pop-tab-->
								<div class="poptab-content">
									<div class="tab_content" id="specs">
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>Size</option>
													</select>
												</div>

												<div class="col-md-6">
													<select class="form-control">
														<option>Brand</option>
													</select>
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>Model</option>
													</select>
												</div>

												<div class="col-md-6">
													<select class="form-control">
														<option>Color</option>
													</select>
												</div>
											</div>
										</div>
									
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>size</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="tab_content" id="location2">
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>Address</option>
													</select>
												</div>

												<div class="col-md-6">
													<select class="form-control">
														<option>City</option>
													</select>
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>Province</option>
													</select>
												</div>

												<div class="col-md-6">
													<select class="form-control">
														<option>Country</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="tab_content" id="price">
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>Discount %</option>
													</select>
												</div>

												<div class="col-md-6">
													<select class="form-control">
														<option>Discount </option>
													</select>
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>Province</option>
													</select>
												</div>

												<div class="col-md-6">
													<select class="form-control">
														<option>Country</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								
									<div class="tab_content" id="for">
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>For Gender</option>
													</select>
												</div>

												<div class="col-md-6">
													<select class="form-control">
														<option>For ages</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--poptab-content-->
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<span class="share-title">Share On Showcase</span>
												<div class="share-radio">
													<input type="checkbox" id="radio4">
													<label for="radio4"></label>
												</div>
												<!--share-radio-->
												<div style="clear: both;"></div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<span class="share-title">Live Item</span>
												<div class="share-radio">
													<input type="checkbox" id="radio5" checked>
													<label for="radio5"></label>
												</div>
												<!--share-radio-->
												<div style="clear: both;"></div>
											</div>
										</div>
									</div>
								</div>
								<button type="submit" class="custom-btn">Create</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade create-items-popup" id="personal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<div class="user"><img class="blah" src="../images/popup-user.png" alt=""></div>
							<span class="info-title">Personal</span>
							<div class="row">
								<div class="col-md-12">
									<div class="add-image pull-right"><span>ADD IMAGE</span><input type="file" class="imgInp" /></div>
								</div>
							</div>
						</div>

						<div class="modal-body">
							<form>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Title">
								</div>
		
								<div class="form-group">
									<textarea class="form-control" placeholder="Body"></textarea>
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Priority">
								</div>

								<div class="form-group">
									<select class="form-control">
										<option>Date</option>
									</select>
								</div>

								<div class="form-group">
									<select class="form-control">
										<option>Time</option>
									</select>
								</div>
							
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Address">
								</div>

								<ul class="pop-tab">
									<li class="active"><a href="#time">Time</a></li>
									<li><a href="#location">Location </a></li>
								</ul>
								<!--pop-tab-->
							
								<div class="poptab-content">
									<div class="tab_content" id="time">
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>Date start</option>
													</select>
												</div>

												<div class="col-md-6">
													<select class="form-control">
														<option>Time start</option>
													</select>
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>Date end</option>
													</select>
												</div>
											
												<div class="col-md-6">
													<select class="form-control">
														<option>Time end</option>
													</select>
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>Price</option>
													</select>
												</div>

												<div class="col-md-6">
													<select class="form-control">
														<option>Quantity</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="tab_content" id="location">
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>Address</option>
													</select>
												</div>

												<div class="col-md-6">
													<select class="form-control">
														<option>City</option>
													</select>
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<select class="form-control">
														<option>Province</option>
													</select>
												</div>

												<div class="col-md-6">
													<select class="form-control">
														<option>Country</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--poptab-content-->

								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<span class="share-title">Sync Item 2 way</span>
												<div class="share-radio">
													<input type="checkbox" id="radio2">
													<label for="radio2"></label>
												</div>
												<!--share-radio-->
												<div style="clear: both;"></div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<span class="share-title">Share on showcase</span>
												<div class="share-radio">
													<input type="checkbox" id="radio3" checked>
													<label for="radio3"></label>
												</div>
												<!--share-radio-->
												<div style="clear: both;"></div>
											</div>
										</div>
									</div>
								</div>
								<button type="submit" class="custom-btn">Create</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--content-->
	<div class="modal fade creat-items-popup" id="creat-items-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close"><img src="../images/close.png" alt=""></button>
				<div class="creat-items-content">
					<div class="add-photo">
						<figure style="background-image:url(../images/add-photo.jpg)" class="cover"></figure>
					</div>

					<div class="add-photo-strip">
						<div class="pull-left photo-col-left"><a href="#"><i class="fa fa-camera" aria-hidden="true"></i><span>ADD PHOTO</span></a></div>
						<div class="pull-right photo-col-right"><a href="#"><span>Optional</span></a></div>
					</div>
					<!--add-photo-strip-->
					<div class="modal-body">
						<form>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Add Title">
								<span class="mandatory pull-right">Mandatory</span>
							</div>

							<div class="form-group">
								<h5 class="small-title">Main Properties</h5>
							</div>

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Sub Title">
							</div>

							<div class="form-group">
								<textarea class="form-control" placeholder="Add Description"></textarea>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-6">
										<input type="text" class="form-control" placeholder="Date">
									</div>

									<div class="col-md-6 col-sm-6 col-xs-6">
										<input type="text" class="form-control" placeholder="Time">
									</div>
								</div>
							</div>
							<button type="submit" class="custom-btn">SUBMIT</button>
						</form>
					</div>
					<div style="clear:both"></div>
				</div>
				<!--creat-items-content-->
			</div>
		</div>
	</div>
	
	<footer id="footer">
		<div class="container">
			<div class="col-md-9 col-sm-8 col-xs-12 ftr-col-left">
				<div class="copyright">Copyright 2017, Scedge Inc.  |   Feedback,</div>
			</div>

			<div class="col-md-3 col-sm-4 col-xs-12 ftr-col-right pull-right">
				<div class="social pull-right">
					<a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="#" class="link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					<a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
				<!--social--> 
			</div>
		</div>
	</footer>
</div>
<!--wrapper-->