<div id="wrapper">
	<div class="navbar navbar-default custom-header" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a href="#!/home" class="navbar-brand"><img src="../images/logo.png" alt="logo"/></a> </div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">About</a></li>
						<li><a href="join.html">Join</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#!/login">Login</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div id="banner" class="compass-banner">
			<figure style="background-image:url(../images/banner-bg2.jpg)" class="cover"></figure>
			<div class="container">
				<div class="banner-head">
					<div class="row">
						<div class="col-md-12">
							<div class="pie-content text text-center">
								<h3>Your life in the cloud</h3>
								<p>To empower and connect people, Families, communities,teams and business in unique and useful ways to improve everday life</p>
							</div>
							<!--pie-content--> 
						</div>
					</div>
				</div>
				<!--banner-head-->

				<div class="row">
					<div class="col-md-5">
						<div class="compass tab1 compass2">
							<span data="#tab1" class="pie personal">
								<a href="home.html">Personal</a>
							</span>
							
							<span data="#tab2" class="pie team-community">
								<a href="team-and-community.html">Team & Community</a>
							</span>
							
							<span data="#tab3" class="pie professional-business">
								<a href="professional-and-business.html">Professional & Business</a></span> <span data="#tab4" class="pie family-friends"><a href="family-and-friends.html">Family & Friends</a></span>
							<svg class="pie-circle" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 367 366.888" enable-background="new 0 0 367 366.888" xml:space="preserve">
								<a href="home.html">
									<path class="pie personal" data="#tab1" d="M183.5,126.259c17.132,0,32.495,7.54,42.978,19.47l96.762-81.168C289.582,25.06,239.472,0,183.5,0 C127.528,0,77.417,25.06,43.76,64.561l96.762,81.168C151.005,133.799,166.367,126.259,183.5,126.259z"/>
								</a>

								<a href="team-and-community.html">
									<path class="pie team-community" data="#tab2" d="M324.886,66.506l-96.767,81.172c7.866,9.795,12.583,22.227,12.583,35.765 c0,13.539-4.717,25.97-12.583,35.765l96.767,81.172C351.188,268.635,367,227.886,367,183.444 C367,139.002,351.188,98.253,324.886,66.506z"/>
								</a>

								<a href="professional-and-business.html">
									<path class="pie professional-business" data="#tab3" d="M183.5,240.628c-17.133,0-32.495-7.54-42.978-19.469L43.76,302.327c33.658,39.5,83.768,64.561,139.74,64.561 c55.972,0,106.082-25.06,139.74-64.561l-96.762-81.168C215.995,233.089,200.632,240.628,183.5,240.628z"/>
								</a>
								<a href="family-and-friends.html">
									<path class="pie family-friends" data="#tab4" d="M126.298,183.444c0-13.539,4.717-25.97,12.583-35.765L42.114,66.506C15.811,98.253,0,139.002,0,183.444 c0,44.442,15.811,85.191,42.114,116.938l96.767-81.172C131.015,209.414,126.298,196.983,126.298,183.444z"/>
								</a>
							</svg>
			<div class="circle">&nbsp;</div>
		  </div>
		</div>
		<div class="col-md-7">
		  <div class="pie-content text">
			<div class="tab_content" id="tab4">
			  <h4>pERSONAL</h4>
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			  <div class="buttons-row">
				<div class="pull-right"><a href="join.html" class="rounded-btn">JOIN</a> <a href="#" class="rounded-btn">SHARE THIS</a></div>
			  </div>
			</div>
		  </div>
		  <!--pie-content--> 
		</div>
	  </div>
	</div>
  </div>
  <!--banner-->
  
  <div id="content">
	<div class="subnav">
	  <div class="container">
		<ul>
		  <li class="active"><a href="compass-price.html">Features</a></li>
		  <li><a href="compass-team.html">Company Info</a></li>
		</ul>
	  </div>
	</div>
	<div class="bottom-content clearfix">
	  <div class="bottom-cnt">
		<div class="container">
		  <h3>Pricing
			<div class="feature-btn">
			  <input type="checkbox" id="radio">
			  <label for="radio"><span class="monthly active">monthly</span> <span class="annual">annual</span></label>
			</div>
		  </h3>
		  <div class="tab-inside-cnt personal-content">
			<div class="row">
			  <div class="col-md-4">
				<div class="pricing-col free-loader">
				  <div class="pricing-head">Free Loader</div>
				  <!--pricing-head-->
				  <ul>
					<li>1 user account</li>
					<li>10 GB disk space storage</li>
					<li>100 personal contacts</li>
					<li>1000 e-mails per week</li>
					<li>1 user account</li>
					<li>10 GB disk space storage</li>
					<li>100 personal contacts</li>
					<li>10 GB disk space storage</li>
				  </ul>
				</div>
				<!--personal-col--> 
				<a href="join.html" class="pricing-bnt free-btn">Join </a> </div>
			  <div class="col-md-4">
				<div class="pricing-col personal">
				  <div class="pricing-head">Personal ($5)</div>
				  <!--pricing-head-->
				  <ul>
					<li>1 user account</li>
					<li>10 GB disk space storage</li>
					<li>100 personal contacts</li>
					<li>1000 e-mails per week</li>
					<li>1 user account</li>
					<li>10 GB disk space storage</li>
					<li>100 personal contacts</li>
					<li>10 GB disk space storage</li>
				  </ul>
				</div>
				<!--personal-col--> 
				<a href="join.html" class="pricing-bnt personal-btn">Join </a> </div>
			  <div class="col-md-4">
				<div class="pricing-col professional">
				  <div class="pricing-head">PROFESSIONAL ($10)</div>
				  <!--pricing-head-->
				  <ul>
					<li>1 user account</li>
					<li>10 GB disk space storage</li>
					<li>100 personal contacts</li>
					<li>1000 e-mails per week</li>
					<li>1 user account</li>
					<li>10 GB disk space storage</li>
					<li>100 personal contacts</li>
					<li>10 GB disk space storage</li>
				  </ul>
				</div>
				<!--personal-col--> 
				<a href="join.html" class="pricing-bnt professional-btn">Join</a> </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!--content-->
  
  <footer id="footer">
	<div class="container">
	  <div class="col-md-9 col-sm-8 col-xs-12 ftr-col-left">
		<div class="copyright">Copyright 2017, Scedge Inc.  |   Feedback,</div>
	  </div>
	  <div class="col-md-3 col-sm-4 col-xs-12 ftr-col-right pull-right">
		<div class="social pull-right"> <a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#" class="link"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> </div>
		<!--social--> 
	  </div>
	</div>
  </footer>
</div>
<!--wrapper-->