<div class="login-profile">
	<figure style="background-image:url(../images/login-profile-bg.jpg)" class="cover profile-cover"></figure>
	<div id="wrapper">
		<div class="navbar navbar-default custom-header" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a href="#!/home" class="navbar-brand"><img src="../images/logo2.png" alt="logo"/></a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">About </a></li>
						<li><a href="join.html">Join</a></li>
						<li><a href="#">Contact Us</a></li>
						<li class="active"><a href="#!/login">Login</a></li>
					</ul>
				</div>
			</div>
  		</div>

		<div id="content" class="login-profile-main" ng-controller="loginCtrl">
			<div class="login-profile-content">
				<div class="login-profile-inside">
					<div class="login-profile-cnt">
						<div class="container">
							<div class="row">
								<div class="col-md-7 col-sm-7 col-xs-12">
									<div class="login-profile-col">
										<h3>SCEDGE</h3>
										<p>To empower and connect people, families, communities, teams and businesses in unique and useful ways to improve everyday life.</p>
									</div>
									<!--login-profile-col--> 
								</div>
								
								<div class="col-md-4 col-sm-5 col-xs-12 pull-right">
									<div class="box2">
										<h3>Login to <span>Scedge</span><small>Enter your details below.</small></h3>
										<form class="login-profile-form">
											<div class="form-group">
												<input type="text" class="form-control" ng-model='user.email' placeholder="Email Address">
											</div>
					
											<div class="form-group">
												<input type="text" class="form-control" ng-model='user.password' placeholder="Password">
											</div>
											<button type="button" class="custom-btn" ng-click="signin()">Login</button>
										</form>
									</div>
									
									<div class="box2">
										<h4>Or Login with</h4>
										<div class="social">
											<a href="profile-step-1.html" class="fb"><span><img src="../images/fb.png" alt=""></span>FAcebook</a>
											<a href="profile-step-1.html" class="google"><span><img src="../images/google.png" alt=""></span>Google</a>
											<a href="profile-step-1.html" class="linkdin"><span><img src="../images/linkdin.png" alt=""></span>Linkedin</a>
										</div>
									</div>
				
									<div class="text-center join-now">Don't have an account? <a href="#">Join Now!</a></div>
								</div>
							</div>
						</div>
					</div>
	  			</div>
			</div>
  		</div>
		<!--content-->

		<footer id="footer">
			<div class="container">
				<div class="col-md-9 col-sm-8 col-xs-12 ftr-col-left">
					<div class="copyright">Copyright 2017, Scedge Inc.  |   Feedback,</div>
				</div>
				
				<div class="col-md-3 col-sm-4 col-xs-12 ftr-col-right pull-right">
					<div class="social pull-right">
						<a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#" class="link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						<a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</div>
					<!--social--> 
				</div>
			</div>
		</footer>
	</div>
	<!--wrapper--> 
</div>