<div id="wrapper" >
	<div class="navbar navbar-default custom-header" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#!/home" class="navbar-brand"><img src="../images/logo.png" alt="logo"/></a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
				<li><input type="button" value="log Out" ng-click="logout()"></li>
					<li><a href="my-items.html">My Items</a></li>
					<li><a href="browse-list.html">Browse</a></li>
					<li class="login-active"><a href="#!/message-inbox">Messages</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li class="user-display">
						<a href="personal.html"> 
							<span class="user"><img src="../images/user-img.jpg" alt=""></span>
							<span class="caret"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="chat-content" data-ng-init="getFriends()" ng-model='divmodel'>
		<div class="chat-left content-m" >
			<div class="chat-left-header" ng-click=chat(friend.friend,true)>
				<h2>Inbox</h2>
				<span class="number">104</span>
			</div>
			<!--chat-left-header-->
			<ul class="user-list" >
				<li ng-repeat="friend in friends track by $index" ng-click=chat(friend.friend,true) >
					<span class="image"><img src="../images/browser-user.png" class="img-circle" alt="" /></span>
					</p>
					<p class="name" >{{friend.firstname}}</p>
					
					<p class="direct-chat-msg" >{{friend.lastMessage}}</p> 
					<p class="name" ng-if="friend.count==0">{{friend.count=""}}</p>
					<p class="name" >{{friend.count}}</p>

				
					<span class="time">{{friend.time | date: 'h:mma'}}</span>
				</li>
			</ul>
			<!--user-list-->
		</div>
		<!--chat-left-->

		<div class="chat-right content-m" scroll-glue>
			<div class="chat-body">
				<div class="chat-row clearfix" ng-repeat="messages in users" >
					<div class="chat-in left" ng-if="loginUser != messages.postedby">
						<span class="message-user-img"><img src="../images/katrina.jpg"  alt=""/>{{messages.date | date: 'h:mma'}}</span>
						<div class="direct-chat-msg">{{messages.text}}</div>
						<!-- <div class="direct-chat-msg">{{messages.postedby}}</div>
 -->
					</div>

					<div class="chat-in right"  ng-if="loginUser == messages.postedby">
						<span class="message-user-img"><img src="../images/paul.jpg"  alt=""/>{{messages.date | date: 'h:mma'}}</span>
						<div class="direct-chat-msg">{{messages.text}}</div>
					</div>
				</div>
			</div>
			<!--chat-body-->

			<div class="chat-footer"> 
				<form>
					<span class="attachment">
						<i class="fa fa-paperclip" aria-hidden="true"></i>
					</span>
					<!--attachment-->
					<input type="text" name="message" placeholder="Type your message..." class="form-control" ng-model="message"  autofocus>
					<div class="chat-footer-right">
						<span class="select-symbol"><i class="fa fa-smile-o"  aria-hidden="true"></i></span>
						<button type="submit" class="send" ng-click="doPost(message)"><img src="../images/send.png" alt=""></button>
				   </div>
				</form>
			</div>
		</div>
		<!--chat-right-->
	</div>
	<!--chat-content-->
	<footer id="chatfooter">
		<div class="container">
			<div class="col-md-9 col-sm-8 col-xs-12 ftr-col-left">
				<div class="copyright">Copyright 2017, Scedge Inc.  |   Feedback,</div>
			</div>

			<div class="col-md-3 col-sm-4 col-xs-12 ftr-col-right pull-right">
				<div class="social pull-right">
					<a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="#" class="link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					<a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
				<!--social--> 
				
			</div>
			 
		</div>

	</footer>
</div>
<script src="bower_components/socket.io-client/dist/socket.io.js"></script>
<!--wrapper-->